.linkOffer {
	display: block;
}

.imageOffer {
	display: block;
	border-radius: 4px;
}

.priceOffer {
	display: inline-block;
	padding: 3px 7px;
	margin-bottom: 10px;
	border-radius: 5px;
	outline: 1px solid rgba(78, 59, 49, 0.5);

	& b {
		padding-right: 1px;
	}
	& span {
		padding-right: 1px;
	}
}

.infoOffer {
	position: relative;
	padding-left: 13px;
	padding-top: 15px;
}

.buttonLike {
	position: absolute;
	top: 14px;
	right: 15px;
	background-color: transparent;
	& .svgBox {
		color: rgba(190,190,190, 0.3);

		&:hover {
			color: rgba(205, 118, 118, 0.4) !important;
		}
	}
}

.descrOffer {
	margin-bottom: 5px;
	font-size: 17px;
}

.conceptOffer {
	margin-bottom: 5px;
	font-size: 17px;
	font-weight: 700;
}

@media (min-width: 768px) {

	.infoOffer {
		padding-left: 10px;
	}
}

@media (min-width: 1280px) {

	.infoOffer {
		padding-left: 13px;
	}
}